@{
    ViewData["Title"] = "About The Project";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sales Web MVC is a project made for a C# Course, with the objective of making a simple CRUD application for managing a Sales Department Store</p>
